# Data Wrangling
We loaded QBR data by hand from ESPN going back to 2004. We wanted to use the model to make predictions on this year's QB class, and the Python data didn't include the 2024 college season.<br>

In [508]:
import pandas as pd
import numpy as np
import nfl_data_py as nfl

## Data glossary

In [509]:
# QBR:Adjusted Total Quarterback Rating, which values the quarterback on all play types on a 0-100 scale adjusted for the strength of opposing defenses faced.
# PAA:Number of points contributed by a quarterback, accounting for QBR and how much he plays, above the level of an average quarterback.
# PLAYS:Plays on which the QB has a non-zero expected points contribution. Includes most plays that are not handoffs.
# EPA:Total expected points added with low leverage plays, according to ESPN Win Probability model, down-weighted.
# PASS:Expected points added on pass attempts with low leverage plays down-weighted.
# RUN:Clutch-weighted expected points added through rushes
# SACK:Expected points added on sacks with low leverage plays down-weighted.
# PEN:Expected points added on penalties with low leverage plays down-weighted.
# RAW:Raw Total Quarterback Rating, which values quarterback on all play types on a 0-100 scale (not adjusted for opposing defenses faced)

The data is split into four CSVs

In [510]:
df_17_24 = pd.read_csv("College_QBR_2017-2024.csv")

In [511]:
df_17_24.head()

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW
0,NaN,Cam WardMIA,1,88.0,95.9,538,103.2,89.4,23.1,-14.3,4.6,86.4
1,NaN,Haynes KingGT,1,82.4,46.3,380,58.3,47.7,14.5,-1.7,-0.2,78.0
2,NaN,Cade KlubnikCLEM,1,78.9,58.3,578,67.9,60.0,18.7,-14.9,4.1,74.0
3,NaN,Kyle McCordSYR,1,77.0,75.8,670,94.1,101.1,4.7,-15.9,4.1,76.4
4,NaN,Tyler ShoughLOU,1,75.5,39.8,463,53.9,61.1,-2.4,-8.2,3.4,71.0

In [512]:
df_17_24.loc[:128, 'Season'] = 2024

In [513]:
df_17_24['Season'].value_counts()

2024.0    129
2023.0    127
2018.0    127
2017.0    127
2020.0    124
2022.0    123
2021.0    122
2019.0    121
Name: Season, dtype: int64

In [514]:
df_17_24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   1000 non-null   float64
 1   Name     1000 non-null   object
 2   Power 5  1000 non-null   int64
 3   QBR      1000 non-null   float64
 4   PAA      1000 non-null   float64
 5   PLAYS    1000 non-null   int64
 6   EPA      1000 non-null   float64
 7   PASS     1000 non-null   float64
 8   RUN      1000 non-null   float64
 9   SACK     1000 non-null   float64
 10  PEN      1000 non-null   float64
 11  RAW      1000 non-null   float64
dtypes: float64(9), int64(2), object(1)
memory usage: 93.9+ KB

In [515]:
df_17_24.loc[125:135, :]

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW
125,2024.0,Christian VeilleuxGAST,0,49.3,11.3,351,25.4,23.8,6.4,-7.5,2.8,58.3
126,2024.0,Jaylen RaynorARST,0,45.6,11.9,565,34.2,42.2,6.9,-18.8,3.9,55.4
127,2024.0,Alonza Barnett IIIJMU,0,45.5,7.1,534,25.9,37.2,12.0,-22.6,-0.3,53.5
128,2024.0,Aidan ArmentaULM,0,43.0,-4.9,265,6.5,11.1,4.8,-10.6,1.3,45.2
129,2023.0,Jordan TravisFSU,1,79.6,47.0,434,58.8,58.2,5.6,-8.1,3.1,75.5
130,2023.0,Drake MayeUNC,1,78.8,60.5,588,74.4,58.9,31.3,-17.3,1.3,74.5
131,2023.0,Garrett ShraderSYR,1,74.4,29.5,352,36.0,22.8,25.2,-13.3,1.3,70.5
132,2023.0,Haynes KingGT,1,72.3,32.9,495,45.9,30.6,24.6,-9.4,0.1,66.6
133,2023.0,Riley LeonardDUKE,1,72.1,7.5,251,15.9,12.8,8.0,-4.3,-0.7,57.7
134,2023.0,Tyler Van DykeMIA,1,71.0,27.7,390,38.4,41.3,2.3,-7.2,1.9,67.6
135,2023.0,Anthony ColandreaUVA,1,69.6,13.7,346,24.2,29.3,5.7,-12.6,1.6,60.2

In [516]:
df_14_16 = pd.read_csv("College_QBR_2014-2016.csv")

In [517]:
df_14_16 = df_14_16.drop(columns = ['Unnamed: 0'])

In [518]:
df_14_16.head()

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW
0,2016,Lamar JacksonLOU,1,84.8,84.5,710,88.6,54.2,59.3,-23.6,-1.2,77.5
1,2016,Deshaun WatsonCLEM,1,83.9,72.5,796,96.8,93.1,6.2,-11.1,8.6,72.0
2,2016,Mitchell TrubiskyUNC,1,83.6,72.8,606,90.5,93.9,9.3,-13.7,1.1,77.7
3,2016,Nathan PetermanPITT,1,81.2,45.3,423,56.4,49.0,8.5,-7.3,6.0,75.3
4,2016,Deondre FrancoisFSU,1,78.4,34.5,558,52.4,55.2,13.6,-19.2,3.1,65.5

In [519]:
df_14_16['Season'].value_counts()

2014    129
2015    128
2016    120
Name: Season, dtype: int64

In [520]:
df_08_13 = pd.read_csv("College_QBR_2008-2013.csv")

In [521]:
df_08_13 = df_08_13.drop(columns = ['Unnamed: 0'])

In [522]:
df_08_13.head()

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW
0,2013,Jameis WinstonFSU,1,90.2,94.3,515,84.7,88.6,8.4,-13.8,1.4,87.0
1,2013,Tajh BoydCLEM,1,77.5,52.2,596,68.1,70.8,14.2,-20.4,3.4,71.3
2,2013,Marquise WilliamsUNC,1,75.1,29.1,361,36.7,23.8,15.2,-1.9,-0.5,69.8
3,2013,Anthony BooneDUKE,1,74.8,26.0,412,40.1,33.8,12.3,-5.4,-0.9,65.8
4,2013,Stephen MorrisMIAMI,1,71.8,14.2,416,29.1,37.9,-0.7,-10.9,2.9,58.8

In [523]:
df_08_13['Season'].value_counts()

2013    128
2012    113
2011    113
2009    109
2010    108
2008    103
Name: Season, dtype: int64

In [524]:
df_04_07 = pd.read_csv("College_QBR_2004-2007.csv")

In [525]:
df_04_07 = df_04_07.drop(columns = ['Unnamed: 0'])

In [526]:
df_04_07.head()

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW
0,2007,Matt RyanBC,1,63.5,14.6,798,47.7,62.3,1.8,-18.0,1.5,54.7
1,2007,Cullen HarperCLEM,1,63.4,10.5,556,30.1,48.3,-1.9,-18.6,2.3,54.9
2,2007,Riley SkinnerWAKE,1,63.3,15.9,416,31.8,41.1,4.8,-13.7,-0.4,59.8
3,2007,Sean GlennonVT,1,60.8,2.4,323,15.3,34.9,-0.4,-19.4,0.2,51.9
4,2007,Chris TurnerMD,1,59.8,-3.1,321,10.7,28.1,-2.6,-14.2,-0.8,47.5

In [527]:
df_04_07['Season'].value_counts()

2007    109
2005    105
2004    102
2006    101
Name: Season, dtype: int64

In [528]:
main_df = pd.concat([df_17_24, df_14_16, df_08_13, df_04_07], ignore_index = True)

In [529]:
main_df.head()

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW
0,2024.0,Cam WardMIA,1,88.0,95.9,538,103.2,89.4,23.1,-14.3,4.6,86.4
1,2024.0,Haynes KingGT,1,82.4,46.3,380,58.3,47.7,14.5,-1.7,-0.2,78.0
2,2024.0,Cade KlubnikCLEM,1,78.9,58.3,578,67.9,60.0,18.7,-14.9,4.1,74.0
3,2024.0,Kyle McCordSYR,1,77.0,75.8,670,94.1,101.1,4.7,-15.9,4.1,76.4
4,2024.0,Tyler ShoughLOU,1,75.5,39.8,463,53.9,61.1,-2.4,-8.2,3.4,71.0

In [530]:
main_df.tail()

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW
2463,2004.0,Clint MarksMTSU,0,41.2,8.2,475,26.8,42.5,-3.0,-12.0,-0.7,54.5
2464,2004.0,Scott HallUNT,0,36.1,-4.2,332,9.2,24.7,-6.6,-9.1,0.3,46.7
2465,2004.0,Steven JylesULM,0,36.1,2.9,558,25.6,18.9,16.9,-8.4,-1.8,51.3
2466,2004.0,Nick NoceARST,0,35.0,-18.9,455,2.4,7.4,9.1,-11.0,-3.0,39.3
2467,2004.0,Travis CoxUSU,0,23.0,-42.0,457,-16.2,16.1,-16.4,-17.5,1.3,27.8

In [531]:
main_df.sample(10)

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW
208,2023.0,Cooper LegasUSU,0,56.8,12.8,300,23.4,34.1,2.0,-12.5,-0.2,60.9
296,2022.0,Payton ThorneMSU,1,69.4,22.6,498,37.3,42.4,-1.8,-9.3,6.0,61.6
885,2017.0,Chazz SurrattUNC,1,44.0,-16.2,290,-1.8,10.3,-3.0,-10.0,0.9,35.9
1266,2014.0,Dane EvansTLSA,0,49.8,-5.9,583,17.2,28.2,0.1,-12.6,1.0,47.4
564,2020.0,Jonah JohnsonNMSU,0,3.6,-5.9,88,-1.2,0.9,-0.2,-1.7,-0.1,33.3
524,2020.0,Jordan McCloudUSF,0,39.1,-9.0,270,2.9,15.1,-1.9,-11.5,1.2,41.4
1753,2010.0,Jerrod JohnsonTA&M,1,45.1,-12.3,395,5.5,13.0,8.5,-14.6,-1.4,42.0
1521,2012.0,Geno SmithWVU,1,79.4,62.8,627,73.3,82.3,6.8,-16.5,1.0,73.9
555,2020.0,Luke AnthonyLT,0,45.6,4.2,300,15.0,19.9,3.7,-12.0,3.4,53.6
1128,2015.0,Eric DungeySYR,1,63.3,3.9,287,14.1,16.9,3.2,-7.9,2.0,53.5

In [532]:
main_df['Season'] = main_df['Season'].astype('int')

In [533]:
main_df['Season'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2468 entries, 0 to 2467
Series name: Season
Non-Null Count  Dtype
--------------  -----
2468 non-null   int32
dtypes: int32(1)
memory usage: 9.8 KB

In [534]:
import re
import pandas as pd

# Updated split function with suffix handling and hyphen support
def split_name_and_school(full_name):
    # Protect common suffixes (you can add more)
    suffixes = ['Jr.', 'Sr.', 'II', 'III', 'IV']
    
    for suffix in suffixes:
        if full_name.endswith(suffix):
            # Temporarily strip the suffix for clean parsing
            trimmed = full_name[: -len(suffix)].strip()
            match = re.match(r'^(.*?)([A-Z&0-9\-]+)$', trimmed)
            if match:
                name, school = match.groups()
                return pd.Series([f"{name.strip()} {suffix}", school])
            else:
                return pd.Series([full_name, None])

    # If no suffix, just run normal match
    match = re.match(r'^(.*?)([A-Z&0-9\-]+)$', str(full_name))
    if match:
        name, school = match.groups()
        return pd.Series([name.strip(), school])
    
    return pd.Series([full_name, None])

# Apply to DataFrame
main_df[['Name', 'School']] = main_df['Name'].apply(split_name_and_school)

# Preview
main_df[['Name', 'School']].head(10)

               Name School
0          Cam Ward    MIA
1       Haynes King     GT
2      Cade Klubnik   CLEM
3       Kyle McCord    SYR
4      Tyler Shough    LOU
5    Kevin Jennings    SMU
6  Fernando Mendoza    CAL
7         CJ Bailey   NCSU
8  Jacolby Criswell    UNC
9    Hank Bachmeier   WAKE

In [535]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2468 entries, 0 to 2467
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   2468 non-null   int32
 1   Name     2468 non-null   object
 2   Power 5  2468 non-null   int64
 3   QBR      2468 non-null   float64
 4   PAA      2468 non-null   float64
 5   PLAYS    2468 non-null   int64
 6   EPA      2468 non-null   float64
 7   PASS     2468 non-null   float64
 8   RUN      2468 non-null   float64
 9   SACK     2468 non-null   float64
 10  PEN      2468 non-null   float64
 11  RAW      2468 non-null   float64
 12  School   2468 non-null   object
dtypes: float64(8), int32(1), int64(2), object(2)
memory usage: 241.1+ KB

In [536]:
main_df.columns

Index(['Season', 'Name', 'Power 5', 'QBR', 'PAA', 'PLAYS', 'EPA', 'PASS',
       'RUN', 'SACK', 'PEN', 'RAW', 'School'],
      dtype='object')

In [537]:
main_df['School'].unique()

array(['MIA', 'GT', 'CLEM', 'SYR', 'LOU', 'SMU', 'CAL', 'NCSU', 'UNC',
       'WAKE', 'DUKE', 'VT', 'PITT', 'STAN', 'UVA', 'BC', 'NAVY', 'TULN',
       'ARMY', 'UTSA', 'MEM', 'UNT', 'ECU', 'RICE', 'USF', 'FAU', 'TEM',
       'UAB', 'CLT', 'TLSA', 'BAY', 'ASU', 'COLO', 'TCU', 'CIN', 'KSU',
       'ISU', 'KU', 'WVU', 'OKST', 'BYU', 'TTU', 'ARIZ', 'HOU', 'UTAH',
       'ORE', 'IU', 'OSU', 'PSU', 'USC', 'UCLA', 'RUTG', 'ILL', 'MINN',
       'NEB', 'MSU', 'WASH', 'MD', 'WIS', 'PUR', 'NU', 'JVST', 'WKU',
       'LIB', 'SHSU', 'FIU', 'MTSU', 'LT', 'UTEP', 'NMSU', 'KENN', 'ND',
       'MASS', 'CONN', 'OHIO', 'BGSU', 'TOL', 'BALL', 'WMU', 'M-OH',
       'NIU', 'BUFF', 'EMU', 'AKR', 'KENT', 'BOIS', 'UNM', 'NEV', 'UNLV',
       'SJSU', 'CSU', 'FRES', 'HAW', 'USU', 'SDSU', 'WYO', 'WSU', 'ORST',
       'MISS', 'ALA', 'UGA', 'LSU', 'TA&M', 'MIZ', 'VAN', 'TEX', 'TENN',
       'SC', 'ARK', 'AUB', 'MSST', 'UK', 'OU', 'TXST', 'UL', 'USA', 'APP',
       'ODU', 'MRSH', 'TROY', 'CCU', 'GASO', 'GAST', 'ARST', 'IIIJMU',
       'ULM', 'FSU', 'UCF', 'MICH', 'IOWA', 'CMU', 'IIITENN', 'FLA',
       'JMU', 'USM', 'NCST', 'WISC', 'HBU', 'BSU', 'AFA', 'MIAMI', 'NW',
       'IIIMICH', 'IVGAST', 'OKLA', 'IND', 'LAT', 'IIIUAB', 'IIIEMU',
       'IIIUSA', 'UCONN', 'UMASS', 'AKRON', 'ARKST', 'ULL', 'IIITXST',
       'CHAR', 'IDHO', 'IIIBAY'], dtype=object)

# Pulling out anyone who played in 2024
First we have to train the model. We don't have target variable for anyone who's still in college. We'll make predictions on this year's incoming rookies when we have the model trained, but for now we have to take out anyone with a "Season" value of 2024. We need to filter out those players' earlier seasons as well.<br>

We'll save the rookie_df to a CSV to be used for predictions later. We see that the length of the filtered main_df plus the length of rookie_df equals the length of the original main_df.

In [538]:
df_2024 = main_df[main_df['Season'] == 2024]

In [539]:
names_24 = list(df_2024['Name'])

In [540]:
len(names_24)

129

In [541]:
rookie_df = main_df[main_df['Name'].isin(names_24)]

In [542]:
#rookie_df.to_csv('2024_rookies.csv', index = False)

In [543]:
main_df = main_df[~main_df['Name'].isin(names_24)]

In [544]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2235 entries, 129 to 2467
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   2235 non-null   int32
 1   Name     2235 non-null   object
 2   Power 5  2235 non-null   int64
 3   QBR      2235 non-null   float64
 4   PAA      2235 non-null   float64
 5   PLAYS    2235 non-null   int64
 6   EPA      2235 non-null   float64
 7   PASS     2235 non-null   float64
 8   RUN      2235 non-null   float64
 9   SACK     2235 non-null   float64
 10  PEN      2235 non-null   float64
 11  RAW      2235 non-null   float64
 12  School   2235 non-null   object
dtypes: float64(8), int32(1), int64(2), object(2)
memory usage: 235.7+ KB

In [545]:
rookie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 233 entries, 0 to 777
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   233 non-null    int32
 1   Name     233 non-null    object
 2   Power 5  233 non-null    int64
 3   QBR      233 non-null    float64
 4   PAA      233 non-null    float64
 5   PLAYS    233 non-null    int64
 6   EPA      233 non-null    float64
 7   PASS     233 non-null    float64
 8   RUN      233 non-null    float64
 9   SACK     233 non-null    float64
 10  PEN      233 non-null    float64
 11  RAW      233 non-null    float64
 12  School   233 non-null    object
dtypes: float64(8), int32(1), int64(2), object(2)
memory usage: 24.6+ KB

# Giving every QB his own row
Each QB's performance in a different season is a different variable. For example, a QB's QBR in 2022 is one feature and his QBR in 2023 is another. We'll pivot main_df so that every quarterback is a single data point.

In [546]:
# Define performance columns
perf_cols = ['Power 5', 'QBR', 'PAA', 'PLAYS', 'EPA', 'PASS', 'RUN', 'SACK', 'PEN', 'RAW']

# Sort by player_id and season
main_df_sorted = main_df.sort_values(['Name', 'Season'])

In [547]:
main_df_sorted.head()

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW,School
1459,2013,A.J. Doyle,0,22.0,-32.7,321,-14.3,-1.4,-7.3,-6.4,0.9,25.8,UMASS
928,2017,A.J. Erdely,0,49.5,24.4,486,40.1,31.5,23.9,-17.1,1.9,62.8,UAB
800,2018,A.J. Erdely,0,46.1,7.8,293,18.3,15.4,9.7,-8.6,1.8,56.9,UAB
790,2018,AJ Bush Jr.,1,52.7,0.4,376,14.0,5.0,17.6,-9.8,1.4,50.3,ILL
570,2020,AJ Mayer,0,58.9,4.0,61,6.1,5.8,1.8,-2.7,1.3,66.6,M-OH

In [548]:
# Add a season rank for each player (1st season, 2nd season, etc.)
main_df_sorted['season_rank'] = main_df_sorted.groupby('Name').cumcount() + 1

In [549]:
main_df_sorted.head(20)

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW,School,season_rank
1459,2013,A.J. Doyle,0,22.0,-32.7,321,-14.3,-1.4,-7.3,-6.4,0.9,25.8,UMASS,1
928,2017,A.J. Erdely,0,49.5,24.4,486,40.1,31.5,23.9,-17.1,1.9,62.8,UAB,1
800,2018,A.J. Erdely,0,46.1,7.8,293,18.3,15.4,9.7,-8.6,1.8,56.9,UAB,2
790,2018,AJ Bush Jr.,1,52.7,0.4,376,14.0,5.0,17.6,-9.8,1.4,50.3,ILL,1
570,2020,AJ Mayer,0,58.9,4.0,61,6.1,5.8,1.8,-2.7,1.3,66.6,M-OH,1
1712,2011,AJ McCarron,1,77.9,28.3,390,40.4,49.3,-3.8,-7.4,2.2,68.0,ALA,1
1595,2012,AJ McCarron,1,84.9,47.3,387,49.6,58.5,1.4,-11.6,1.4,78.1,ALA,2
1490,2013,AJ McCarron,1,82.5,43.2,404,50.4,56.7,2.2,-8.7,0.3,75.2,ALA,3
241,2023,AJ Swann,1,33.9,-6.2,245,4.4,6.9,1.5,-5.6,1.4,43.4,VAN,1
1821,2010,Aaron Murray,1,74.3,32.1,453,45.3,53.7,9.9,-17.9,-0.6,67.6,UGA,1
1714,2011,Aaron Murray,1,74.6,25.5,551,44.8,54.2,5.5,-20.2,4.9,61.8,UGA,2
1596,2012,Aaron Murray,1,80.9,51.1,503,61.3,74.5,3.0,-15.7,-0.8,74.2,UGA,3
1484,2013,Aaron Murray,1,88.1,59.1,443,70.8,64.4,14.7,-10.9,2.8,80.0,UGA,4
2227,2006,Aaron Opelt,0,21.9,-23.9,274,-7.5,-4.6,3.5,-6.3,0.0,28.7,TOL,1
2113,2007,Aaron Opelt,0,46.8,6.3,322,18.1,20.6,1.5,-2.7,-1.0,55.1,TOL,2
2015,2008,Aaron Opelt,0,39.9,-8.1,456,11.2,20.2,2.4,-13.1,1.8,45.4,TOL,3
1899,2009,Aaron Opelt,0,63.5,16.1,318,23.6,22.3,4.9,-2.1,-1.8,62.8,TOL,4
2418,2004,Aaron Polanco,0,39.2,9.5,767,38.9,18.6,28.6,-8.6,0.3,53.2,NAVY,1
2441,2004,Aaron Rodgers,1,75.1,29.5,422,42.0,49.5,6.4,-14.2,0.4,67.4,CAL,1
2386,2004,Adam Barmann,1,36.0,-20.4,345,-3.2,0.0,2.5,-6.4,0.7,35.1,KU,1

In [550]:
# Sort by player name and season ascending (to identify earliest to latest)
main_df_sorted = main_df_sorted.sort_values(by=["Name", "Season"])

# Assign season_rank: last season gets 4, earlier ones count down
main_df_sorted["season_rank"] = main_df_sorted.groupby("Name")["Season"].transform(
    lambda x: [4 - i for i in range(len(x)-1, -1, -1)]
)

# Optional: sort again for neat display
main_df_sorted = main_df_sorted.sort_values(by=["Name", "Season"])

In [551]:
main_df_sorted.head(20)

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW,School,season_rank
1459,2013,A.J. Doyle,0,22.0,-32.7,321,-14.3,-1.4,-7.3,-6.4,0.9,25.8,UMASS,4
928,2017,A.J. Erdely,0,49.5,24.4,486,40.1,31.5,23.9,-17.1,1.9,62.8,UAB,3
800,2018,A.J. Erdely,0,46.1,7.8,293,18.3,15.4,9.7,-8.6,1.8,56.9,UAB,4
790,2018,AJ Bush Jr.,1,52.7,0.4,376,14.0,5.0,17.6,-9.8,1.4,50.3,ILL,4
570,2020,AJ Mayer,0,58.9,4.0,61,6.1,5.8,1.8,-2.7,1.3,66.6,M-OH,4
1712,2011,AJ McCarron,1,77.9,28.3,390,40.4,49.3,-3.8,-7.4,2.2,68.0,ALA,2
1595,2012,AJ McCarron,1,84.9,47.3,387,49.6,58.5,1.4,-11.6,1.4,78.1,ALA,3
1490,2013,AJ McCarron,1,82.5,43.2,404,50.4,56.7,2.2,-8.7,0.3,75.2,ALA,4
241,2023,AJ Swann,1,33.9,-6.2,245,4.4,6.9,1.5,-5.6,1.4,43.4,VAN,4
1821,2010,Aaron Murray,1,74.3,32.1,453,45.3,53.7,9.9,-17.9,-0.6,67.6,UGA,1
1714,2011,Aaron Murray,1,74.6,25.5,551,44.8,54.2,5.5,-20.2,4.9,61.8,UGA,2
1596,2012,Aaron Murray,1,80.9,51.1,503,61.3,74.5,3.0,-15.7,-0.8,74.2,UGA,3
1484,2013,Aaron Murray,1,88.1,59.1,443,70.8,64.4,14.7,-10.9,2.8,80.0,UGA,4
2227,2006,Aaron Opelt,0,21.9,-23.9,274,-7.5,-4.6,3.5,-6.3,0.0,28.7,TOL,1
2113,2007,Aaron Opelt,0,46.8,6.3,322,18.1,20.6,1.5,-2.7,-1.0,55.1,TOL,2
2015,2008,Aaron Opelt,0,39.9,-8.1,456,11.2,20.2,2.4,-13.1,1.8,45.4,TOL,3
1899,2009,Aaron Opelt,0,63.5,16.1,318,23.6,22.3,4.9,-2.1,-1.8,62.8,TOL,4
2418,2004,Aaron Polanco,0,39.2,9.5,767,38.9,18.6,28.6,-8.6,0.3,53.2,NAVY,4
2441,2004,Aaron Rodgers,1,75.1,29.5,422,42.0,49.5,6.4,-14.2,0.4,67.4,CAL,4
2386,2004,Adam Barmann,1,36.0,-20.4,345,-3.2,0.0,2.5,-6.4,0.7,35.1,KU,4

# Before we pivot ... 
Let's take a look at value counts for season rank. Every quarterback in the dataset has a season rank of 4 because we've transformed that variable so that '4' denotes a player's last year of college, '3' is his second-to-last year and so on.<br>

We see below that 58 percent of these QBs played two seasons, 30 percent played three seasons, and only 10 percent played four seasons. Less than one percent played five seasons. This might mean that we should only use each QB's last two seasons. Otherwise, we'd be filling in a lot of missing values.

In [552]:
#How many guys played five seasons?
main_df_sorted['season_rank'].value_counts()

4    1124
3     661
2     339
1     104
0       7
Name: season_rank, dtype: int64

In [553]:
print(f"Percentage of QBs who played two years: {661/1124}")
print(f"Percentage of QBs who played three years: {339/1124}")
print(f"Percentage of QBs who played four years: {104/1124}")
print(f"Percentage of QBs who played five years: {7/1124}")

Percentage of QBs who played two years: 0.5880782918149466
Percentage of QBs who played three years: 0.3016014234875445
Percentage of QBs who played four years: 0.09252669039145907
Percentage of QBs who played five years: 0.006227758007117438

In [554]:
main_df_sorted['Name'].nunique()

1124

In [555]:
fifth_year_guys = main_df_sorted[main_df_sorted['season_rank'] == 0]

In [556]:
fifth_year_guys

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW,School,season_rank
788,2018,Adrian Martinez,1,63.1,6.6,524,26.1,27.7,11.1,-13.4,0.2,53.3,NEB,0
848,2018,Dorian Thompson-Robinson,1,46.0,-15.2,267,-1.9,6.7,6.3,-13.7,-1.3,35.6,UCLA,0
768,2018,Holton Ahlers,0,40.8,-3.4,409,12.4,10.7,9.3,-9.3,1.5,47.8,ECU,0
719,2019,Jayden Daniels,1,64.4,29.1,504,47.8,50.9,15.4,-20.0,1.2,64.5,ASU,0
710,2019,Kedon Slovis,1,81.1,53.2,474,66.9,86.0,-3.9,-18.6,3.4,76.2,USC,0
753,2018,Sam Hartman,1,58.9,2.9,419,19.8,23.1,7.2,-12.4,2.0,51.8,WAKE,0
2224,2006,Tyler Jones,0,25.6,-19.9,240,-7.8,1.7,0.5,-8.6,-1.5,29.7,EMU,0

In [557]:
# fifth_year_guys = list(fifth_year_guys['Name'])

In [558]:
# fifth_year_guys

In [559]:
main_df_sorted = main_df_sorted[main_df_sorted['season_rank'] > 2]

In [560]:
main_df_sorted.head(20)

,Season,Name,Power 5,QBR,PAA,PLAYS,EPA,PASS,RUN,SACK,PEN,RAW,School,season_rank
1459,2013,A.J. Doyle,0,22.0,-32.7,321,-14.3,-1.4,-7.3,-6.4,0.9,25.8,UMASS,4
928,2017,A.J. Erdely,0,49.5,24.4,486,40.1,31.5,23.9,-17.1,1.9,62.8,UAB,3
800,2018,A.J. Erdely,0,46.1,7.8,293,18.3,15.4,9.7,-8.6,1.8,56.9,UAB,4
790,2018,AJ Bush Jr.,1,52.7,0.4,376,14.0,5.0,17.6,-9.8,1.4,50.3,ILL,4
570,2020,AJ Mayer,0,58.9,4.0,61,6.1,5.8,1.8,-2.7,1.3,66.6,M-OH,4
1595,2012,AJ McCarron,1,84.9,47.3,387,49.6,58.5,1.4,-11.6,1.4,78.1,ALA,3
1490,2013,AJ McCarron,1,82.5,43.2,404,50.4,56.7,2.2,-8.7,0.3,75.2,ALA,4
241,2023,AJ Swann,1,33.9,-6.2,245,4.4,6.9,1.5,-5.6,1.4,43.4,VAN,4
1596,2012,Aaron Murray,1,80.9,51.1,503,61.3,74.5,3.0,-15.7,-0.8,74.2,UGA,3
1484,2013,Aaron Murray,1,88.1,59.1,443,70.8,64.4,14.7,-10.9,2.8,80.0,UGA,4
2015,2008,Aaron Opelt,0,39.9,-8.1,456,11.2,20.2,2.4,-13.1,1.8,45.4,TOL,3
1899,2009,Aaron Opelt,0,63.5,16.1,318,23.6,22.3,4.9,-2.1,-1.8,62.8,TOL,4
2418,2004,Aaron Polanco,0,39.2,9.5,767,38.9,18.6,28.6,-8.6,0.3,53.2,NAVY,4
2441,2004,Aaron Rodgers,1,75.1,29.5,422,42.0,49.5,6.4,-14.2,0.4,67.4,CAL,4
2386,2004,Adam Barmann,1,36.0,-20.4,345,-3.2,0.0,2.5,-6.4,0.7,35.1,KU,4
2116,2007,Adam DiMichele,0,38.0,0.0,324,13.0,22.7,5.7,-13.7,-1.8,50.0,TEM,3
2006,2008,Adam DiMichele,0,59.2,20.7,315,34.2,39.4,6.2,-12.4,1.0,66.4,TEM,4
1868,2009,Adam Froman,1,49.1,-5.7,275,6.3,18.5,-1.6,-11.4,0.7,44.7,LOU,3
1758,2010,Adam Froman,1,54.9,11.2,290,21.4,27.3,1.6,-8.2,0.7,59.9,LOU,4
1500,2013,Adam Kennedy,0,56.7,15.9,504,33.7,41.1,12.9,-17.3,-3.1,58.1,ARST,4

In [561]:
# Pivot the data to create columns for each season's performance metrics
df_pivot = main_df_sorted.pivot(index='Name', columns='season_rank', values=perf_cols)

In [562]:
df_pivot.head(20)

                Power 5        QBR         PAA        PLAYS          EPA  \
season_rank           3    4     3     4     3     4      3      4     3
Name
A.J. Doyle          NaN  0.0   NaN  22.0   NaN -32.7    NaN  321.0   NaN
A.J. Erdely         0.0  0.0  49.5  46.1  24.4   7.8  486.0  293.0  40.1
AJ Bush Jr.         NaN  1.0   NaN  52.7   NaN   0.4    NaN  376.0   NaN
AJ Mayer            NaN  0.0   NaN  58.9   NaN   4.0    NaN   61.0   NaN
AJ McCarron         1.0  1.0  84.9  82.5  47.3  43.2  387.0  404.0  49.6
AJ Swann            NaN  1.0   NaN  33.9   NaN  -6.2    NaN  245.0   NaN
Aaron Murray        1.0  1.0  80.9  88.1  51.1  59.1  503.0  443.0  61.3
Aaron Opelt         0.0  0.0  39.9  63.5  -8.1  16.1  456.0  318.0  11.2
Aaron Polanco       NaN  0.0   NaN  39.2   NaN   9.5    NaN  767.0   NaN
Aaron Rodgers       NaN  1.0   NaN  75.1   NaN  29.5    NaN  422.0   NaN
Adam Barmann        NaN  1.0   NaN  36.0   NaN -20.4    NaN  345.0   NaN
Adam DiMichele      0.0  0.0  38.0  59.2   0.0  20.7  324.0  315.0  13.0
Adam Froman         1.0  1.0  49.1  54.9  -5.7  11.2  275.0  290.0   6.3
Adam Kennedy        NaN  0.0   NaN  56.7   NaN  15.9    NaN  504.0   NaN
Adam Weber          1.0  1.0  30.4  63.2 -45.6  15.7  483.0  468.0 -20.3
Adrian Martinez     1.0  1.0  72.5  73.7  31.3  26.4  468.0  319.0  47.7
Ahmad Bradshaw      0.0  0.0  35.4  79.5  -9.4  45.0  304.0  308.0   4.4
Aidan O'Connell     1.0  1.0  85.7  71.4  65.7  24.1  496.0  576.0  77.3
Aidan Smith         NaN  1.0   NaN  31.5   NaN -26.5    NaN  261.0   NaN
Al Pena             NaN  1.0   NaN  26.6   NaN -36.3    NaN  232.0   NaN

                       PASS         RUN        SACK        PEN        RAW  \
season_rank         4     3     4     3     4     3     4    3    4     3
Name
A.J. Doyle      -14.3   NaN  -1.4   NaN  -7.3   NaN  -6.4  NaN  0.9   NaN
A.J. Erdely      18.3  31.5  15.4  23.9   9.7 -17.1  -8.6  1.9  1.8  62.8
AJ Bush Jr.      14.0   NaN   5.0   NaN  17.6   NaN  -9.8  NaN  1.4   NaN
AJ Mayer          6.1   NaN   5.8   NaN   1.8   NaN  -2.7  NaN  1.3   NaN
AJ McCarron      50.4  58.5  56.7   1.4   2.2 -11.6  -8.7  1.4  0.3  78.1
AJ Swann          4.4   NaN   6.9   NaN   1.5   NaN  -5.6  NaN  1.4   NaN
Aaron Murray     70.8  74.5  64.4   3.0  14.7 -15.7 -10.9 -0.8  2.8  74.2
Aaron Opelt      23.6  20.2  22.3   2.4   4.9 -13.1  -2.1  1.8 -1.8  45.4
Aaron Polanco    38.9   NaN  18.6   NaN  28.6   NaN  -8.6  NaN  0.3   NaN
Aaron Rodgers    42.0   NaN  49.5   NaN   6.4   NaN -14.2  NaN  0.4   NaN
Adam Barmann     -3.2   NaN   0.0   NaN   2.5   NaN  -6.4  NaN  0.7   NaN
Adam DiMichele   34.2  22.7  39.4   5.7   6.2 -13.7 -12.4 -1.8  1.0  50.0
Adam Froman      21.4  18.5  27.3  -1.6   1.6 -11.4  -8.2  0.7  0.7  44.7
Adam Kennedy     33.7   NaN  41.1   NaN  12.9   NaN -17.3  NaN -3.1   NaN
Adam Weber       30.5  12.7  30.7  -9.5   6.8 -24.5  -9.7  0.6  2.6  27.3
Adrian Martinez  36.8  46.6  19.8  19.4  27.3 -17.4  -9.6 -1.1 -0.7  66.7
Ahmad Bradshaw   52.4  -0.7  -4.2   8.3  57.2  -5.0   0.0  1.9 -0.7  42.0
Aidan O'Connell  45.5  83.6  51.4   1.8  -0.3 -14.6 -13.7  6.3  8.1  79.8
Aidan Smith     -10.6   NaN  -3.5   NaN  -4.0   NaN  -5.0  NaN  1.9   NaN
Al Pena         -15.4   NaN  -6.7   NaN  -2.1   NaN  -6.8  NaN  0.2   NaN


season_rank         4
Name
A.J. Doyle       25.8
A.J. Erdely      56.9
AJ Bush Jr.      50.3
AJ Mayer         66.6
AJ McCarron      75.2
AJ Swann         43.4
Aaron Murray     80.0
Aaron Opelt      62.8
Aaron Polanco    53.2
Aaron Rodgers    67.4
Adam Barmann     35.1
Adam DiMichele   66.4
Adam Froman      59.9
Adam Kennedy     58.1
Adam Weber       58.6
Adrian Martinez  70.2
Ahmad Bradshaw   82.0
Aidan O'Connell  60.7
Aidan Smith      25.8
Al Pena          16.4

In [563]:
# Flatten the multi-level column names
df_pivot.columns = [f'{col}_{season}' for col, season in df_pivot.columns]

In [564]:
# Reset index to make player_id a column again
df_pivot = df_pivot.reset_index()

In [565]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1124 entries, 0 to 1123
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       1124 non-null   object
 1   Power 5_3  661 non-null    float64
 2   Power 5_4  1124 non-null   float64
 3   QBR_3      661 non-null    float64
 4   QBR_4      1124 non-null   float64
 5   PAA_3      661 non-null    float64
 6   PAA_4      1124 non-null   float64
 7   PLAYS_3    661 non-null    float64
 8   PLAYS_4    1124 non-null   float64
 9   EPA_3      661 non-null    float64
 10  EPA_4      1124 non-null   float64
 11  PASS_3     661 non-null    float64
 12  PASS_4     1124 non-null   float64
 13  RUN_3      661 non-null    float64
 14  RUN_4      1124 non-null   float64
 15  SACK_3     661 non-null    float64
 16  SACK_4     1124 non-null   float64
 17  PEN_3      661 non-null    float64
 18  PEN_4      1124 non-null   float64
 19  RAW_3      661 non-null    float64
 20  RAW_4      1124 non-null   float64
dtypes: float64(20), object(1)
memory usage: 184.5+ KB

In [566]:
df_pivot_no_missing = df_pivot.dropna()

In [567]:
df_pivot_no_missing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 661 entries, 1 to 1119
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       661 non-null    object
 1   Power 5_3  661 non-null    float64
 2   Power 5_4  661 non-null    float64
 3   QBR_3      661 non-null    float64
 4   QBR_4      661 non-null    float64
 5   PAA_3      661 non-null    float64
 6   PAA_4      661 non-null    float64
 7   PLAYS_3    661 non-null    float64
 8   PLAYS_4    661 non-null    float64
 9   EPA_3      661 non-null    float64
 10  EPA_4      661 non-null    float64
 11  PASS_3     661 non-null    float64
 12  PASS_4     661 non-null    float64
 13  RUN_3      661 non-null    float64
 14  RUN_4      661 non-null    float64
 15  SACK_3     661 non-null    float64
 16  SACK_4     661 non-null    float64
 17  PEN_3      661 non-null    float64
 18  PEN_4      661 non-null    float64
 19  RAW_3      661 non-null    float64
 20  RAW_4      661 non-null    float64
dtypes: float64(20), object(1)
memory usage: 113.6+ KB

# How can we fill missing values?
Almost half of the samples have only one season of data. We need to fill values for for the '_3' columns. We've created a dataframe that drops all the missing values. Then we'll get the means of all the columns, divide them and see if the _3 values tend to be less than the _4 values.

In [568]:
mean_cols = ['QBR_3', 'QBR_4', 'PAA_3', 'PAA_4', 'PLAYS_3', 'PLAYS_4',\
              'EPA_3', 'EPA_4', 'PASS_3', 'PASS_4', 'RUN_3',\
              'RUN_4', 'PEN_3', 'PEN_4', 'SACK_3', 'SACK_4', 'RAW_3', 'RAW_4']

In [569]:
variables = ['QBR', 'PAA', 'PLAYS', 'EPA', 'PASS', 'RUN', 'PEN', 'SACK', 'RAW']

In [570]:
col_means = []

In [571]:
for col in mean_cols:
    col_means.append(df_pivot_no_missing[col].mean())

In [572]:
col_means

[58.556127080181554,
 60.50090771558245,
 17.179122541603633,
 21.465506807866866,
 462.45234493192135,
 466.8668683812405,
 32.91860816944024,
 36.70257186081694,
 37.32556732223903,
 40.91285930408472,
 7.099697428139183,
 7.029954614220878,
 1.7046898638426629,
 1.7916792738275336,
 -13.225567322239035,
 -13.039183055975794,
 57.49878971255673,
 59.372919818456886]

In [573]:
#Getting the means of each pair
mean_pct = []

In [574]:
for i in range(0, len(col_means), 2):
    mean_pct.append(col_means[i]/col_means[i+1])

In [575]:
mean_pct

[0.967855347814889,
 0.800312925074179,
 0.9905443633971595,
 0.8969019472061467,
 0.912318717321047,
 1.0099208057157614,
 0.9514481128092548,
 1.0142941674691668,
 0.9684345975971766]

In [576]:
mean_dict = dict(zip(variables, mean_pct))

In [577]:
mean_dict

{'QBR': 0.967855347814889,
 'PAA': 0.800312925074179,
 'PLAYS': 0.9905443633971595,
 'EPA': 0.8969019472061467,
 'PASS': 0.912318717321047,
 'RUN': 1.0099208057157614,
 'PEN': 0.9514481128092548,
 'SACK': 1.0142941674691668,
 'RAW': 0.9684345975971766}

In [578]:
missing_percent = df_pivot.isnull().values.sum() / df_pivot.size * 100
print(f"Percentage of missing values {missing_percent}")

Percentage of missing values 19.615319437383494

In [579]:
# #All college data for QBs going back to 2006
# qbr_college = nfl.import_qbr([2006, 2025], 'college')

# Filling missing values

Now we can fill every missing value in the _3 by multiplying it by the percentage we got by diving the mean of the _3 columns by the mean of the _4 columns.

In [580]:
# List of variables to process
variables = ['QBR', 'PAA', 'PLAYS', 'EPA', 'PASS', 'RUN', 'SACK', 'PEN', 'RAW']

# Fill missing values in *_3 with values from *_4
for k, v in mean_dict.items():
    col_3 = f"{k}_3"
    col_4 = f"{k}_4"
    
    if col_3 in df_pivot.columns and col_4 in df_pivot.columns:
        df_pivot[col_3] = df_pivot[col_3].fillna(df_pivot[col_4] * v)

In [581]:
df_pivot[df_pivot['Name'] == 'Aaron Rodgers']

,Name,Power 5_3,Power 5_4,QBR_3,QBR_4,PAA_3,PAA_4,PLAYS_3,PLAYS_4,EPA_3,...,PASS_3,PASS_4,RUN_3,RUN_4,SACK_3,SACK_4,PEN_3,PEN_4,RAW_3,RAW_4
9,Aaron Rodgers,NaN,1.0,72.685937,75.1,23.609231,29.5,418.009721,422.0,37.669882,...,45.159777,49.5,6.463493,6.4,-14.402977,-14.2,0.380579,0.4,65.272492,67.4

Now we'll get the difference between the first and second year for each variable for each QB. This shows how much the QB improved.

In [582]:
# Add difference columns
for var in variables:
    col_3 = f"{var}_3"
    col_4 = f"{var}_4"
    if col_3 in df_pivot.columns and col_4 in df_pivot.columns:
        df_pivot[f"{var}_Diff"] = df_pivot[col_4] - df_pivot[col_3]

In [583]:
df_pivot[df_pivot['Name'] == 'Aaron Rodgers']

,Name,Power 5_3,Power 5_4,QBR_3,QBR_4,PAA_3,PAA_4,PLAYS_3,PLAYS_4,EPA_3,...,RAW_4,QBR_Diff,PAA_Diff,PLAYS_Diff,EPA_Diff,PASS_Diff,RUN_Diff,SACK_Diff,PEN_Diff,RAW_Diff
9,Aaron Rodgers,NaN,1.0,72.685937,75.1,23.609231,29.5,418.009721,422.0,37.669882,...,67.4,2.414063,5.890769,3.990279,4.330118,4.340223,-0.063493,0.202977,0.019421,2.127508

In [584]:
df_pivot[df_pivot['Name'] == 'Kenny Pickett']

,Name,Power 5_3,Power 5_4,QBR_3,QBR_4,PAA_3,PAA_4,PLAYS_3,PLAYS_4,EPA_3,...,RAW_4,QBR_Diff,PAA_Diff,PLAYS_Diff,EPA_Diff,PASS_Diff,RUN_Diff,SACK_Diff,PEN_Diff,RAW_Diff
650,Kenny Pickett,1.0,1.0,60.9,81.2,19.4,89.9,454.0,642.0,35.7,...,81.1,20.3,70.5,188.0,68.0,68.5,10.9,-10.8,-0.6,20.2

In [585]:
df_pivot['Power 5_3'] = df_pivot['Power 5_3'].fillna(df_pivot['Power 5_4'])

In [587]:
df_pivot.to_csv('dataset_pre_combine.csv', index = False)

# Bringing in combine data
We'll add heights, weights, and 40-yard dash times measured at the NFL Scouting Combine for each QB.<br>
Not all QBs are invited to the combine. We'll need to take a look that the players who aren't in the combine data. If any of them played more than a game or two in the NFL, we'll need to keep them in the main dataset and manually fill in heights and weights and then probably fill in missing 40-yard dash value with the mean.<br>
We'll thin out the herd this way. Most of the QBs who played in college weren't invited to the combine and were never a candidate for the NFL and they would have flooded the dataset with low values for the dependent variable.

In [1241]:
# years = list(np.arange(2004, 2026))

In [1242]:
# combine_df = nfl.import_combine_data(years, ['QB'])

In [1243]:
# combine_df.head()

,season,draft_year,draft_team,draft_round,draft_ovr,pfr_id,cfb_id,player_name,pos,school,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle
1328,2004,NaN,None,NaN,NaN,None,casey-clausen-1,Casey Clausen,QB,Tennessee,6-3,223.0,4.95,NaN,NaN,NaN,NaN,NaN
1368,2004,NaN,None,NaN,NaN,None,jason-fife-1,Jason Fife,QB,Oregon,6-4,226.0,4.83,NaN,30.5,113.0,7.28,4.18
1394,2004,2004.0,Baltimore Ravens,6.0,187.0,None,josh-harris-2,Josh Harris,QB,Bowling Green,6-1,238.0,4.78,NaN,31.0,115.0,NaN,NaN
1429,2004,NaN,None,NaN,NaN,None,None,Robert Kent,QB,Jackson State,6-4,222.0,4.87,NaN,26.5,110.0,7.69,4.22
1435,2004,2004.0,Chicago Bears,5.0,148.0,KrenCr00,craig-krenzel-1,Craig Krenzel,QB,Ohio State,6-3,228.0,4.84,NaN,28.0,112.0,7.22,4.08

In [1244]:
# combine_df.tail()

,season,draft_year,draft_team,draft_round,draft_ovr,pfr_id,cfb_id,player_name,pos,school,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle
8527,2025,NaN,None,NaN,NaN,None,jalen-milroe-1,Jalen Milroe,QB,Alabama,6-2,217.0,NaN,NaN,NaN,NaN,NaN,NaN
8572,2025,NaN,None,NaN,NaN,None,kurtis-rourke-1,Kurtis Rourke,QB,Indiana,6-4,220.0,NaN,NaN,NaN,NaN,NaN,NaN
8577,2025,NaN,None,NaN,NaN,None,shedeur-sanders-1,Shedeur Sanders,QB,Colorado,6-2,212.0,NaN,NaN,NaN,NaN,NaN,NaN
8585,2025,NaN,None,NaN,NaN,None,tyler-shough-1,Tyler Shough,QB,Louisville,6-5,219.0,4.63,NaN,32.0,117.0,NaN,NaN
8627,2025,NaN,None,NaN,NaN,None,None,Cam Ward,QB,Miami,6-2,219.0,NaN,NaN,NaN,NaN,NaN,NaN

In [1245]:
# combine_df.sample(10)

,season,draft_year,draft_team,draft_round,draft_ovr,pfr_id,cfb_id,player_name,pos,school,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle
7777,2023,2023.0,Minnesota Vikings,5.0,164.0,HallJa00,jaren-hall-1,Jaren Hall,QB,BYU,6-0,207.0,NaN,NaN,NaN,NaN,NaN,NaN
8208,2024,2024.0,Denver Broncos,1.0,12.0,NixxBo00,bo-nix-1,Bo Nix,QB,Oregon,6-2,214.0,NaN,NaN,NaN,NaN,NaN,NaN
4481,2013,NaN,None,NaN,NaN,ScotMa01,matt-scott-1,Matt Scott,QB,Arizona,6-2,213.0,4.69,NaN,31.0,118.0,6.69,3.99
5862,2017,2017.0,Houston Texans,1.0,12.0,WatsDe00,deshaun-watson-1,Deshaun Watson,QB,Clemson,6-2,221.0,4.66,NaN,32.5,119.0,6.95,4.31
8527,2025,NaN,None,NaN,NaN,None,jalen-milroe-1,Jalen Milroe,QB,Alabama,6-2,217.0,NaN,NaN,NaN,NaN,NaN,NaN
3966,2012,2012.0,Green Bay Packers,7.0,243.0,ColeB.00,None,B.J. Coleman,QB,Tenn-Chattanooga,6-3,233.0,4.94,NaN,NaN,109.0,7.07,4.38
6502,2019,2019.0,New England Patriots,4.0,133.0,StidJa00,jarrett-stidham-1,Jarrett Stidham,QB,Auburn,6-2,218.0,4.81,NaN,31.0,110.0,7.28,4.33
2034,2006,NaN,None,NaN,NaN,None,darrell-hackney-1,Darrell Hackney,QB,Ala-Birmingham,6-0,239.0,4.82,NaN,33.0,110.0,7.62,4.69
3985,2012,NaN,None,NaN,NaN,DaviAu00,austin-davis-1,Austin Davis,QB,Southern Miss,6-2,219.0,4.69,NaN,31.0,109.0,6.73,4.11
1881,2005,2005.0,Green Bay Packers,1.0,24.0,RodgAa00,aaron-rodgers-1,Aaron Rodgers,QB,California,6-2,223.0,4.71,NaN,34.5,110.0,7.38,NaN

In [1246]:
# combine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 395 entries, 1328 to 8627
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   season       395 non-null    int32
 1   draft_year   230 non-null    float64
 2   draft_team   230 non-null    object
 3   draft_round  230 non-null    float64
 4   draft_ovr    230 non-null    float64
 5   pfr_id       303 non-null    object
 6   cfb_id       355 non-null    object
 7   player_name  395 non-null    object
 8   pos          395 non-null    object
 9   school       395 non-null    object
 10  ht           394 non-null    object
 11  wt           394 non-null    float64
 12  forty        341 non-null    float64
 13  bench        20 non-null     float64
 14  vertical     306 non-null    float64
 15  broad_jump   304 non-null    float64
 16  cone         283 non-null    float64
 17  shuttle      288 non-null    float64
dtypes: float64(10), int32(1), object(7)
memory usage: 57.1+ KB

In [1247]:
# combine_names = list(combine_df['player_name'])

In [1248]:
# main_names = list(df_pivot['Name'])

In [1249]:
# len(combine_names), len(main_names)

(395, 1124)

In [1250]:
# main_not_in_combine = list(set(main_names).difference(set(combine_names)))

In [1251]:
# len(main_not_in_combine)

825

In [1252]:
main_not_in_combine

In [1253]:
# names_to_keep = ['AJ McCarron', 'EJ Manuel', 'Nick Mullens', 'Trevor Siemian', 'Kyle Allen', 'Taysom Hill', 'Tyler Huntley',\
#                  'Matt Moore', 'David Blough', 'Terrelle Pryor Sr.', 'Taylor Heinicke', 'John Wolford', 'PJ Walker', 'Tommy DeVito']

In [1254]:
# len(names_to_keep)

14

In [1255]:
# main_not_in_combine = set(main_not_in_combine)
# names_to_keep = set(names_to_keep)

In [1256]:
# drop_players = main_not_in_combine.difference(names_to_keep)

In [1257]:
#drop_players

In [1258]:
# len(drop_players)

811

In [1259]:
# df_pivot = df_pivot[~df_pivot['Name'].isin(drop_players)]

In [1]:
# df_pivot.head()

In [2]:
# df_pivot['Name'].nunique()

In [3]:
# df_pivot.info()

In [1263]:
# df_pivot['Name'] = df_pivot['Name'].replace({'AJ McCarron': 'A.J. McCarron', 'EJ Manuel': 'E.J. Manuel'})

In [4]:
# combine_df.info()

In [5]:
# combine_df = combine_df[['season', 'player_name', 'ht', 'wt', 'forty', 'vertical', 'broad_jump', 'cone', 'shuttle']]

In [6]:
# combine_df.head()

In [7]:
# combine_df = combine_df.rename(columns = {'season': 'Season', 'player_name': 'Name'})

In [1268]:
# main_df = pd.merge(df_pivot, combine_df, on='Name', how='left')

In [8]:
# main_df.info()

In [9]:
# main_df.head()

In [1271]:
# def convert_height(height_str):
#     try:
#         # If height_str is already a float or NaN, return None
#         if pd.isnull(height_str):
#             return None
#         feet, inches = height_str.split('-')
#         return int(feet) * 12 + int(inches)
#     except:
#         return None  # fallback if formatting is off

In [1272]:
# main_df['ht'] = main_df['ht'].apply(convert_height)

In [1273]:
# missing_combine = main_df[main_df['Season'].isna()]

In [1274]:
# missing_combine_names = list(missing_combine['Name'])

In [10]:
# missing_combine_names

In [1276]:
# missing_combine_seasons = [2019, 2020, 2018, 2007, 2018, 2020, 2017, 2017, 2011, 2023, 2015, 2020]
# missing_combine_heights = [73, 73, 75, 75, 72, 71, 73, 74, 76, 74, 75, 73]
# missing_combine_weights = [207, 218, 210, 219, 210, 215, 210, 221, 228, 210, 220, 205]

In [1277]:
# fill_lists = []
# for i in range(len(missing_combine_names)):
#     temp_list = []
#     temp_list.append(missing_combine_seasons[i])
#     temp_list.append(missing_combine_heights[i])
#     temp_list.append(missing_combine_weights[i])
#     fill_lists.append(temp_list)

In [1278]:
# fill_lists

[[2019, 73, 207],
 [2020, 73, 218],
 [2018, 75, 210],
 [2007, 75, 219],
 [2018, 72, 210],
 [2020, 71, 215],
 [2017, 73, 210],
 [2017, 74, 221],
 [2011, 76, 228],
 [2023, 74, 210],
 [2015, 75, 220],
 [2020, 73, 205]]

In [1279]:
fill_dict = dict(zip(missing_combine_names, fill_lists))

In [1280]:
fill_dict

{'David Blough': [2019, 73, 207],
 'John Wolford': [2020, 73, 218],
 'Kyle Allen': [2018, 75, 210],
 'Matt Moore': [2007, 75, 219],
 'Nick Mullens': [2018, 72, 210],
 'PJ Walker': [2020, 71, 215],
 'Taylor Heinicke': [2017, 73, 210],
 'Taysom Hill': [2017, 74, 221],
 'Terrelle Pryor Sr.': [2011, 76, 228],
 'Tommy DeVito': [2023, 74, 210],
 'Trevor Siemian': [2015, 75, 220],
 'Tyler Huntley': [2020, 73, 205]}

In [1281]:
# for k, v in fill_dict.items():
#     main_df.loc[main_df['Name'] == k, 'Season'] = v[0]
#     main_df.loc[main_df['Name'] == k, 'ht'] = v[1]
#     main_df.loc[main_df['Name'] == k, 'wt'] = v[2]

In [1282]:
# main_df[main_df['Name'].isin(missing_combine_names)]

,Name,Power 5_3,Power 5_4,QBR_3,QBR_4,PAA_3,PAA_4,PLAYS_3,PLAYS_4,EPA_3,...,PEN_Diff,RAW_Diff,Season,ht,wt,forty,vertical,broad_jump,cone,shuttle
84,David Blough,1.0,1.0,49.7,76.1,-8.4,39.2,637.0,583.0,17.3,...,1.5,20.2,2019.0,73.0,207.0,NaN,NaN,NaN,NaN,NaN
157,John Wolford,1.0,1.0,52.9,77.6,-9.3,44.1,469.0,555.0,12.0,...,-3.4,24.7,2020.0,73.0,218.0,NaN,NaN,NaN,NaN,NaN
185,Kyle Allen,1.0,1.0,62.3,62.3,-2.7,-2.7,369.0,369.0,12.5,...,0.0,0.0,2018.0,75.0,210.0,NaN,NaN,NaN,NaN,NaN
210,Matt Moore,1.0,1.0,41.4,67.3,-18.8,16.8,453.0,492.0,2.5,...,1.3,19.4,2007.0,75.0,219.0,NaN,NaN,NaN,NaN,NaN
230,Nick Mullens,0.0,0.0,69.1,54.8,60.2,23.0,612.0,469.0,71.2,...,3.2,-11.0,2018.0,72.0,210.0,NaN,NaN,NaN,NaN,NaN
232,PJ Walker,0.0,0.0,54.2,60.9,8.8,20.1,575.0,507.0,32.1,...,-6.2,6.1,2020.0,71.0,215.0,NaN,NaN,NaN,NaN,NaN
279,Taylor Heinicke,0.0,0.0,76.5,57.9,98.0,35.3,608.0,571.0,103.6,...,4.3,-18.6,2017.0,73.0,210.0,NaN,NaN,NaN,NaN,NaN
280,Taysom Hill,1.0,0.0,70.3,64.2,33.4,27.0,737.0,552.0,59.9,...,4.3,1.0,2017.0,74.0,221.0,NaN,NaN,NaN,NaN,NaN
282,Terrelle Pryor Sr.,1.0,1.0,67.0,82.4,20.1,63.5,496.0,484.0,36.8,...,-0.7,19.2,2011.0,76.0,228.0,NaN,NaN,NaN,NaN,NaN
287,Tommy DeVito,1.0,1.0,46.8,70.2,-11.4,31.4,495.0,429.0,9.1,...,5.5,24.1,2023.0,74.0,210.0,NaN,NaN,NaN,NaN,NaN
294,Trevor Siemian,1.0,1.0,60.0,44.5,5.4,-20.0,360.0,489.0,19.9,...,0.8,-14.3,2015.0,75.0,220.0,NaN,NaN,NaN,NaN,NaN
298,Tyler Huntley,1.0,1.0,60.2,80.5,8.7,54.6,386.0,454.0,23.6,...,-0.2,21.9,2020.0,73.0,205.0,NaN,NaN,NaN,NaN,NaN

In [1283]:
# main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313 entries, 0 to 312
Data columns (total 39 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          313 non-null    object
 1   Power 5_3     313 non-null    float64
 2   Power 5_4     313 non-null    float64
 3   QBR_3         313 non-null    float64
 4   QBR_4         313 non-null    float64
 5   PAA_3         313 non-null    float64
 6   PAA_4         313 non-null    float64
 7   PLAYS_3       313 non-null    float64
 8   PLAYS_4       313 non-null    float64
 9   EPA_3         313 non-null    float64
 10  EPA_4         313 non-null    float64
 11  PASS_3        313 non-null    float64
 12  PASS_4        313 non-null    float64
 13  RUN_3         313 non-null    float64
 14  RUN_4         313 non-null    float64
 15  SACK_3        313 non-null    float64
 16  SACK_4        313 non-null    float64
 17  PEN_3         313 non-null    float64
 18  PEN_4         313 non-null    float64
 19  RAW_3         313 non-null    float64
 20  RAW_4         313 non-null    float64
 21  Power 5_Diff  313 non-null    float64
 22  QBR_Diff      313 non-null    float64
 23  PAA_Diff      313 non-null    float64
 24  PLAYS_Diff    313 non-null    float64
 25  EPA_Diff      313 non-null    float64
 26  PASS_Diff     313 non-null    float64
 27  RUN_Diff      313 non-null    float64
 28  SACK_Diff     313 non-null    float64
 29  PEN_Diff      313 non-null    float64
 30  RAW_Diff      313 non-null    float64
 31  Season        313 non-null    float64
 32  ht            313 non-null    float64
 33  wt            313 non-null    float64
 34  forty         260 non-null    float64
 35  vertical      236 non-null    float64
 36  broad_jump    233 non-null    float64
 37  cone          214 non-null    float64
 38  shuttle       219 non-null    float64
dtypes: float64(38), object(1)
memory usage: 97.8+ KB

In [1284]:
# main_df = main_df.fillna(main_df.mean(numeric_only=True))

In [11]:
# main_df.info()

In [1286]:
# main_df['Season'] = main_df['Season'].astype('int')

# Target variable

There are countless ways to measure the value of a quarterback over the course of his career. We can use the nfl_data_py play-by-play data to come up with Win Probability Added for each QB. This is a total of the how much the QB improves the win probability of his team with each play.

In [1287]:
# pbp_cols = ['season', 'week', 'season_type','home_team', 'away_team', 'posteam', 'qb_dropback', 'wpa', 'passer_id', 'passer', 'passer_player_name', 'name', 'pass', 'result', 'desc']

In [1288]:
# pbp_data_11 = pd.read_csv('play_by_play_to_11.csv')

In [1289]:
# pbp_data_17 = pd.read_csv('play_by_play_to_17.csv')

In [1290]:
pbp_data_24 = pd.read_csv('play_by_play_to_24.csv')

In [1291]:
# pbp_data = pd.concat([pbp_data_11, pbp_data_17, pbp_data_24])

In [1292]:
# pbp_data['season'].unique()

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024], dtype=int64)

In [12]:
# pbp_data.head()

In [13]:
# pbp_data.tail()

In [14]:
# pbp_data.sample(10)

In [15]:
# pbp_data.info()

Filtering for plays where the quarterback drops back, either to pass, hand the ball off or run with the ball.

In [1297]:
# pbp_data_qb = pbp_data[pbp_data['qb_dropback'] == 1]
# pbp_data_qb = pbp_data_qb.groupby(['passer_id', 'name', 'season'])['wpa'].sum().reset_index()

In [1298]:
# pbp_data_qb = pbp_data_qb.sort_values(by = 'wpa', ascending = False)

In [1299]:
# pbp_data_qb.head()

       passer_id       name  season       wpa
1733  00-0033873  P.Mahomes    2020  7.348525
1735  00-0033873  P.Mahomes    2022  7.139297
117   00-0010346  P.Manning    2006  6.454853
120   00-0010346  P.Manning    2009  6.199815
1732  00-0033873  P.Mahomes    2019  5.922290

In [16]:
# pbp_data_qb.tail()

In [1301]:
# pbp_data_qb.sample(10)

       passer_id        name  season       wpa
596   00-0023460  J.Campbell    2011  0.572726
1163  00-0028012   R.Mallett    2014 -0.205824
292   00-0021164    D.Foster    2005 -0.010124
889   00-0026144  D.McFadden    2014 -0.015525
1755  00-0033936  C.Beathard    2021  0.113761
2054  00-0037500    R.Wright    2022  0.098842
1409  00-0030565     G.Smith    2017 -0.399788
1525  00-0031503   J.Winston    2021  0.832260
1998  00-0036442    J.Burrow    2022  3.201721
1133  00-0027950    C.Ponder    2012  0.498936

In [1302]:
# pbp_data_qb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2113 entries, 1733 to 617
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   passer_id  2113 non-null   object
 1   name       2113 non-null   object
 2   season     2113 non-null   int64
 3   wpa        2113 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 82.5+ KB

Looks like we got a weird case where Robert Griffin III has two different IDs. We'll check that out.

In [1304]:
# pbp_data_qb[pbp_data_qb['name'] == 'R.Griffin III']

       passer_id           name  season       wpa
1303  00-0029665  R.Griffin III    2012  2.068793
1306  00-0029665  R.Griffin III    2016  1.077459
1345  00-0029857  R.Griffin III    2019 -0.005721
1308  00-0029665  R.Griffin III    2019 -0.052590
1307  00-0029665  R.Griffin III    2018 -0.169395
1304  00-0029665  R.Griffin III    2013 -0.403004
1309  00-0029665  R.Griffin III    2020 -0.455365
1305  00-0029665  R.Griffin III    2014 -0.802814

In [1308]:
# pbp_data_qb = pbp_data_qb.drop(columns = 'passer_id')

Grouping by QB name, summing wpa and getting number of seasons played.

In [1312]:
# qb_summary = pbp_data_qb.groupby(['name']).agg(
#     total_wpa=('wpa', 'sum'),
#     seasons_played=('season', 'nunique')
# ).reset_index()

In [1313]:
# qb_summary = qb_summary.sort_values(by='total_wpa', ascending=False)

In [1314]:
# qb_summary = qb_summary.reset_index()

In [1315]:
# qb_summary['wpa_per_season'] = qb_summary['total_wpa']/qb_summary['seasons_played']

In [17]:
# qb_summary.head()

# Calculating target variable
We'll scale total_wpa and wpa_per_season, then average them with wpa_per_season getting 60 percent of the weight so that QBs like Patrick Mahomes and Jayden Daniels don't get penalized for not having their careers finished.<br>

The name of the target variable will be 'QB_score'

In [18]:
# # Standardize total_wpa
# qb_summary['wpa_total_scaled'] = (
#     qb_summary['total_wpa'] - qb_summary['total_wpa'].mean()
# ) / qb_summary['total_wpa'].std()

# # Standardize wpa_per_season
# qb_summary['wpa_per_season_scaled'] = (
#     qb_summary['wpa_per_season'] - qb_summary['wpa_per_season'].mean()
# ) / qb_summary['wpa_per_season'].std()

# # Create weighted QB score with more emphasis on per-season performance
# qb_summary['QB_score'] = (
#     0.4 * qb_summary['wpa_total_scaled'] +
#     0.6 * qb_summary['wpa_per_season_scaled']
# )

In [19]:
# qb_summary.sort_values(by = 'QB_score', ascending = False)

In [20]:
# qb_summary[qb_summary['name'] == 'R.Griffin III']

In [1321]:
# qb_summary = qb_summary[['name', 'QB_score']]

In [1322]:
# suffix_names = {'G.Minshew II': 'G.Minshew', 'R.Griffin III': 'R.Griffin', 'M.Penix': 'M.Penix Jr.', 'T.Pryor': 'T.Pryor Sr.'}

In [21]:
# qb_summary['name'] = qb_summary['name'].replace(suffix_names)

In [22]:
#qb_summary = qb_summary.rename(columns = {'name': 'Name'})

# Name matching
We can get around fuzzy matching by creating a new column in the main_df that formatted as first name followed by a period then by the last name with no spaces, which is the way it's formatted in the target variable dataset.

In [1324]:
# def name_to_initial_format(name):
#     try:
#         first, last = name.strip().split(' ', 1)
#         return f"{first[0]}.{last}"
#     except:
#         return None

# main_df['qb_target_name'] = main_df['Name'].apply(name_to_initial_format)

In [1325]:
# main_df[['Name', 'qb_target_name']].head()

              Name qb_target_name
0    A.J. McCarron     A.McCarron
1     Aaron Murray       A.Murray
2    Aaron Rodgers      A.Rodgers
3  Aidan O'Connell    A.O'Connell
4       Alex Brink        A.Brink

In [1326]:
# merged_df = main_df.merge(qb_summary, left_on='qb_target_name', right_on='name', how='left')

In [1328]:
# unmatched = merged_df[merged_df['QB_score'].isnull()][['Name', 'name', 'qb_target_name']]
# print(unmatched.head(10))

               Name name qb_target_name
1      Aaron Murray  NaN       A.Murray
4        Alex Brink  NaN        A.Brink
9     Anthony Boone  NaN        A.Boone
10   Anthony Gordon  NaN       A.Gordon
11  Anthony Morelli  NaN      A.Morelli
13     Austin Allen  NaN        A.Allen
15      Austin Reed  NaN         A.Reed
18   Bernard Morris  NaN       B.Morris
21       Blake Sims  NaN         B.Sims
23       Brad Kaaya  NaN        B.Kaaya

In [1329]:
# len(unmatched)

111

# Unmatched names
The unmatched names are the players who went to the combine but never played in the NFL. We'll still include them in the dataset.

In [1330]:
# pd.set_option('display.max_rows', 200)  # or any number higher than 115

In [46]:
# unmatched

In [47]:
# len(merged_df)

In [23]:
# merged_df.info()

In [1334]:
# missing_qbs = merged_df[merged_df['QB_score'].isnull()]

In [24]:
# missing_qbs[['Name', 'qb_target_name', 'name', 'QB_score']]

In [1337]:
# merged_df = merged_df.drop(columns = ['name', 'qb_target_name'])

In [25]:
# merged_df.to_csv('qb_model_dataset.csv', index = False)

In [26]:
# qb_target_names = qb_target['Name'].unique()
# main_names = main_df['Name'].unique()

In [27]:
# def match_qb_name(qb_target_names, full_name, threshold=75):
#     match, score = process.extractOne(qb_target_names, full_name, scorer=fuzz.token_sort_ratio)
#     if score >= threshold:
#         return match
#     else:
#         return None  # or return full_name if you'd prefer a fallback

In [28]:
# qb_target['matched_name'] = qb_target['Name'].apply(lambda x: match_qb_name(x, main_names))

In [29]:
# qb_target[['Name', 'matched_name']].head(30)

In [31]:
# main_df[main_df['Name'] == 'Andrew Luck']

In [413]:
# pbp_data = pbp_data[pbp_data['qb_dropback'] == 1]
# pbp_data_grouped = pbp_data.groupby(['name', 'season'])['wpa'].sum().reset_index()

In [422]:
# playoff_data = pbp_data[pbp_data['season_type'] == 'POST']

In [32]:
# playoff_data

nfl_qbr = nfl.import_qbr(years[2:])

In [33]:
# nfl.see_weekly_cols()

In [34]:
# qbr_college = qbr_college[['season', 'player_id', 'player_uid', 'name_display', 'name_short', 'age',\
#        'team_short_name', 'team_id', 'team_uid', 'qbr_total', 'pts_added', 'qb_plays', 'epa_total', 'pass', 'run',\
#        'exp_sack', 'penalty', 'qbr_raw', 'sack']]

In [35]:
# qbr_college.head()

In [36]:
# qbr_college.to_csv('qb_college_data.csv', index = False)

In [37]:
# qbr_college.info()

In [38]:
#qb_weekly_cols = ['player_id', 'player_name', 'player_display_name', 'position', 'position_group', 'season', 'week', 'season_type', 'passing_tds', 'interceptions', 'passing_epa']

In [39]:
# qb_years = list(np.arange(2006, 2025))

In [40]:
# qb_stats = nfl.import_seasonal_data(qb_years)

In [41]:
# qb_stats_columns = ['player_id', 'season', 'season_type', 'passing_tds', 'interceptions', 'passing_epa']

In [42]:
# qb_stats = qb_stats[qb_stats_columns]

In [43]:
# qb_stats.head()

In [44]:
# qb_stats['td/int'] = qb_stats['passing_tds']/(qb_stats['passing_tds'] + qb_stats['interceptions'])

In [45]:
# qb_stats.head(30)

In [72]:
# combine = nfl.import_combine_data([2025], ['QB'])